---
import type { CollectionEntry } from "astro:content";
import photo from "@assets/photo.webp";
import Icon from "@ui-components/astro/Icon/Icon.astro";
import { BubbleBackground } from "@ui-components/react/BubbleBackground";

interface Props {
  contentEntry: CollectionEntry<"hero">;
}

const { contentEntry }: Props = Astro.props;
const content = contentEntry.data;
---

<section class="container" id="hero">
  <div class="backgroundWrapper">
    <BubbleBackground
      client:visible
      client:media="(min-width: 768px)"
      className="bubbleBackground"
      interactive
      colors={{
        first: "0, 216, 192",
        second: "123, 92, 255",
        third: "250, 204, 21",
        fourth: "0, 168, 255",
        fifth: "255, 94, 115",
        sixth: "0, 216, 192",
      }}
    />
  </div>

  <div class="contentWrapper">
    <div class="contentContainer">
      <img
        class="photo"
        src={photo.src}
        alt="Francisco Della Vedova"
        draggable="false"
      />

      <div class="textContainer">
        <div class="nameContainer">
          <h1 class="name">
            {content.name}
          </h1>
          <h2 class="jobTitle">
            {content.jobTitle}
          </h2>
        </div>
        <div class="scrollDownContainer">
          <button class="scrollDownButton">
            <Icon name="chevronsDown" class="scrollDownIcon" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .container {
    min-width: 100dvw;
    min-height: 100dvh;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow-x: hidden;
  }

  .backgroundWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .bubbleBackground {
      width: 100%;
      height: 100%;
    }
  }

  .contentWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }

  .contentWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;

    background:
      radial-gradient(
        ellipse at center,
        transparent 0%,
        rgba(0, 0, 0, 0.1) 40%,
        rgba(0, 0, 0, 0.3) 70%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      linear-gradient(
        to top,
        rgba(5, 6, 6, 1) 25%,
        rgba(5, 6, 6, 0.75) 35%,
        rgba(5, 6, 6, 0.5) 45%,
        transparent 75%
      );
  }
  .contentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
  }

  .photo {
    position: absolute;
    max-width: 725px;
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-15%);
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.3));
    z-index: 0;
    user-select: none;
    -webkit-user-drag: none;
    mask-image: linear-gradient(
      to bottom,
      var(--color-bg-base) 0%,
      var(--color-bg-base) 90%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      var(--color-bg-base) 0%,
      var(--color-bg-base) 90%,
      transparent 100%
    );

    @media (width < 1200px) {
      max-width: 700px;
    }

    @media (width < 1000px) {
      max-width: 675px;
    }

    @media (width < 850px) {
      max-width: 600px;
    }

    @media (width < 500px) {
      transform: translateX(-50%) translateY(-27%);
    }
  }

  .textContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem 1.25rem 1.25rem;

    @media (width < 500px) {
      padding: 0 0.5rem 0.5rem 0.75rem;
    }
  }

  .nameContainer,
  .scrollDownContainer {
    flex: 1;
    display: flex;
  }

  .nameContainer {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;

    @media (width < 500px) {
      gap: 0.25rem;
    }
  }

  .name {
    font-weight: 300;
    color: var(--color-text-primary);
    font-family: var(--font-title);
    font-size: clamp(3.5rem, 10dvw, 6rem);
    letter-spacing: 6px;
    text-wrap: nowrap;
    text-transform: uppercase;
    opacity: 1;
    line-height: 1;
    font-optical-sizing: auto;
    align-self: flex-start;
    z-index: 5;
    text-align: start;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    @media (width < 500px) {
      font-size: 3.5rem;
      letter-spacing: 2px;
    }
  }

  .jobTitle {
    font-weight: 400;
    color: var(--color-text-primary);
    font-size: clamp(2rem, 7dvw, 3.5rem);
    text-wrap: nowrap;
    opacity: 1;
    line-height: 1;
    font-optical-sizing: auto;
    font-style: italic;
    align-self: flex-start;
    z-index: 5;
    text-align: start;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    @media (width < 500px) {
      font-size: 2rem;
    }
  }

  .scrollDownContainer {
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1rem;

    @media (width < 850px) {
      padding-right: 0rem;
    }
  }

  .scrollDownButton {
    border: none;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
    pointer-events: all;
    z-index: 5;
    &:hover {
      transform: scale(1.1);
    }

    &:hover .scrollDownIcon {
      animation: none;
    }

    @media (width < 850px) {
      padding: 0.25rem;
    }

    @media (width < 500px) {
      display: none;
    }
  }

  .scrollDownIcon {
    filter: var(--filter-text-primary);
    width: 6rem;
    height: auto;
    animation: floatDown 2.5s ease-in-out infinite;

    @media (width < 850px) {
      width: 5rem;
    }
  }

  @keyframes floatDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
