@import "tailwindcss";

* {
  box-sizing: border-box;
}

@layer base {
  html,
  body {
    font-family: var(--font-inter);
    background-color: transparent;
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }
}

@theme {
  --color-bg-base: #050606;
  --filter-bg-base: brightness(0) saturate(100%) invert(3%) sepia(1%)
    saturate(1%) hue-rotate(206deg) brightness(98%) contrast(101%);
  --color-bg-surface: #0e1718;
  --color-bg-darker: #000;
  --filter-bg-darker: brightness(0) saturate(100%) invert(0%) sepia(67%)
    saturate(6904%) hue-rotate(101deg) brightness(100%) contrast(101%);

  --color-brand-primary: #00d8c0;
  --color-brand-accent: #7b5cff;
  --color-brand-secondary: rgb(255, 94, 115);

  --color-text-primary: #f2f7f8;
  --filter-text-primary: brightness(0) saturate(100%) invert(87%) sepia(38%)
    saturate(10%) hue-rotate(187deg) brightness(103%) contrast(100%);
  --color-text-secondary-rgb: 124, 154, 157;
  --color-text-secondary: #7c9a9d;
  --color-text-contrast: #fff;

  --color-feedback-success: #4ade80;
  --color-feedback-warning: #facc15;
  --color-feedback-error: #ef4444;
  --color-feedback-info: #38bdf8;

  --font-inter: "Inter", sans-serif;
  --font-title: "BBH Sans Hegarty", sans-serif;

  --content-max-width: 1250px;
  --content-padding-screen-l: 2rem;
  --content-padding-screen-m: 1rem;
  --content-padding-screen-s: 0.5rem;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;

  --glass-border: 1px solid rgba(var(--color-text-secondary-rgb), 0.1);

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-base:
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md:
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg:
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl:
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}

.glass {
  background-color: rgba(14, 23, 24, 0.83);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8.7px);
}

.glass-border {
  border: 1px solid rgba(var(--color-text-secondary-rgb), 0.1);
}

.link {
  position: relative;
  font-style: italic;
  z-index: 1;
  padding: 0 2px;
  font-weight: 600;
  text-wrap: nowrap;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--color-brand-accent);
    transition:
      height 0.2s ease-in-out,
      color 0.2s ease-in-out;
    z-index: -1;
  }

  &:hover {
    color: var(--color-text-contrast);

    &::before {
      height: 100%;
    }
  }
}

.section-title {
  color: var(--color-text-primary);
  font-family: var(--font-title);
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media (width < 768px) {
    font-size: 2rem;
  }
}

.paragraph {
  color: var(--color-text-primary);
  font-size: 1.5rem;
  font-weight: 500;

  @media (width < 768px) {
    font-size: 1rem;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
