---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Francisco Della Vedova - Frontend developer",
  description = "Portfolio of Francisco Della Vedova, frontend developer showcasing skills in React, TypeScript, and modern web technologies.",
}: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    min-height: 100dvh;
    overflow-x: hidden;
  }
</style>
